**/roles/ansible-r3-roles/
*.bak
*.crl
*.jks
*.log
*.pyc
*.retry
*.tfstate*
terraform.tfvars
.DS_Store
.terraform/
.vagrant/
/.terraform.d/
/.tools/
/setup/Brewfile.lock.json
/terraform/**/*[Pp][Ll][Aa][Nn]
/terraform/**/[Pp][Ll][Aa][Nn]*
/tflint
/tflint_linux_amd64.zip
idea/
keys/
files/
parts/
stash/
temp/
bin/

